.container {
  display: grid;
  grid-template-columns: auto;
}

button.btn-danger {
  margin-bottom: 15px;
}

.btn-primary {
  margin-bottom: 40px;
  margin-top: 15px;
}

p.red-alert {
  color: red;
}

textarea {
  width: 400px;
  height: 100px;
}


.btn-outline-danger{
  margin-top: 10px;
  margin-bottom: 10px;
}

.btn-secondary {
  margin-top: 10px;
  margin-bottom: 10px;
}

select {
  width: 400px;
  margin: 10px;
}

.cont2 {
  width: 350px;
}

img {
  width: 350px;
}

.delete-photo-button {
  width: 250px;
}