<div class="cont1">
  <h3 class="text-center">Выбирете тип</h3>

  <div class='cont2 text-center'>
    <div>
      <a routerLink="/place/delete/after-submit">
        <button (click)="submitDelete()" class="btn btn-danger">Подтвердить удаления</button>
      </a>
    </div>
    <div>
      <button (click)="cancelDeletes()" class="btn btn-warning">Отменить удаления</button>
    </div>
  </div>
  <!-- <br>
  <ul *ngFor = "let place of placesToShow; let i = index">
      <li>
          <b>{{i}}</b> === {{ place.name}}  :   {{ place.description }} <button (click)="onDeleteBtnClick($event)">X</button>
      </li>
      <hr>     
  </ul> -->
  <!--TODO запрашивать подтверждение удаления-->
  <!-- TODO удалить лишние страницы с переадрессациец после удаления, созранения  -->
  <table class="table table-dark table-striped table-hover">
    <thead>
        <tr>
            <th>№</th>
            <th>Название типа</th>
            <th>Описание типа</th>
            <th>Дата создания</th>
            <th>Дата последнего изменения</th>
            <th>Список подтипов</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let place of placesToShow; let i = index">
            <td>{{ i + 1}}</td>
            <td>{{ place.name }}</td>
            <td>{{ place.description}}</td>
            <td>{{ place.creationDate | date: 'dd MMM yyyy H:mm:ss'}}</td>
            <td>{{ place.lastChangeDate | date: 'dd MMM yyyy H:mm:ss'}}</td>
            <td>
                <ul *ngFor="let subplace of place.bookSubPlaceList">
                    <li data-bs-toggle="tooltip" [title]="subplace.description" >{{ subplace.name }}</li>
                </ul>
            </td>
            <td><button (click)="onDeleteBtnClick($event)" class="btn btn-danger" [id]="i">X</button></td>
        </tr>
    </tbody>
  </table>
  <app-place-filter-sort></app-place-filter-sort>
</div>