<form [formGroup]="myForm" (ngSubmit)="onSubmit()">
  <div class="form-group add-input-form">
      <div class="container">
        <div>
            <h3>Изменение типа</h3> 
        </div>
        <div>
            <label for="name"> Имя типа предметов</label>
        </div>
        <div>
            <input
                type="text"
                placeholder="Введите название"
                formControlName="name"
                (keyup)="onNameKeyUp($event)"
            >
        </div>
        <div>
            <label for="name"> Описание типа предметов</label> 
        </div>
        <div>
            <textarea
                type="text"
                placeholder="Введите описание"
                formControlName="description"> </textarea> 
        </div>

            <div formArrayName="subTypes">
                <div (click)="onAddSubType()">
                  <button type="button" class="btn btn-secondary">Добавить подраздел</button>
                </div>
                <div *ngFor="let subType of this.subTypeArray.controls; let i = index">
                    <app-add-subtype-form [inputFormGroup]="$any(subType)"></app-add-subtype-form>
                    <button type="button" class="btn btn-danger" (click)="removeSubType(i)">Удалить подраздел</button>
                </div>

            </div>

            <!-- <a routerLink="/type/change/after-submit"> -->
            <div>
                <button type="submit"
                    [disabled]="equalSubtypeNames || formIsNotValid || typeNameExistsInBase"
                    class="btn btn-success">
                    Сохранить изменения
                </button >
            </div>
            <!-- </a> -->
            <div>
                <button type="button" class="btn btn-secondary" (click)="resetChanges()">Сбросить изменения</button>
            </div>
            <div>
                <button type="button" class="btn btn-secondary" (click)="backToTable()">Назад</button>
            </div>
            <br><p class="red-alert"  *ngIf="equalSubtypeNames">Совпадают некоторые имена подтипов</p>
            <br><p class="red-alert"  *ngIf="formIsNotValid">Введите названия типа и всех подтипов</p>
            <br><p class="red-alert"  *ngIf="typeNameExistsInBase">Такое имя уже есть в базе, выберите другое</p>
    </div>

  </div>
</form>

