<div class="cont1">
  <h3 class="text-center"> Список мест хранения</h3>
  <table class="table table-dark table-striped table-hover">
      <thead>
          <tr>
              <th>№</th>
              <th>Название</th>
              <th>Описание</th>
              <th>Дата создания</th>
              <th>Дата последнего изменения</th>
              <th>Список разделов</th>
          </tr>
      </thead>
      <tbody>
          <tr *ngFor="let place of placesToShow; let i = index">
              <td>{{ i + 1}}</td>
              <td>{{ place.name }}</td>
              <td>{{ place.description}}</td>
              <td>{{ place.creationDate | date: 'dd MMM yyyy H:mm:ss'}}</td>
              <td>{{ place.lastChangeDate | date: 'dd MMM yyyy H:mm:ss'}}</td>
              <td>
                  <ul *ngFor="let subplace of place.bookSubPlaceList">
                      <li data-bs-toggle="tooltip" [title]="subplace.description" >{{ subplace.name }}</li>
                  </ul>
              </td>
          </tr>
      </tbody>
  </table>
  <div class="cont3">
      <app-place-filter-sort class="container"></app-place-filter-sort>
      <div class="under-filter"></div>
  </div>
</div>